<div class="container mt-5">
    <div *ngIf="!registerMode"   style="text-align: center;">
        <h1>Find your match</h1>
        <p class="lead">Come on in to view your matches... all you need to do is sign up!</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Register</button>
            <button class="btn btn-info btn-lg">Learn more</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>

    <div *ngIf="!registerMode" class="container mt-5">

        <div class="row justify-content-center">
            <div class="col-8">
                <h2 style="text-align: center;"> This is HyungJin Kang's Clone App </h2>
                <div> Lecture: Udemy Build an app with ASPNET Core and Angular from scratch </div>
                <br>
                <div> A practical example of how to build an application with ASP.NET Core API (.Net 5.0) and Angular 10 from start to finish.</div>
                <div> This app is a dating app. After you login (sample: lisa, Pa$$w0rd), you can see other members, gives likes, and send messages. The admin can approve pictures of members and assign roles.</div>
               <ul class="mt-2">
                   <li><p>Setting up the developer environment</p></li>
                   <li><p>Creating the ASP.NET Core WebAPI and the Angular app using the DotNet CLI and the Angular CLI</p></li>
                    <li><p>Adding a Client side login and register function to our Angular application</p></li>
                    <li><p>Adding 3rd party components to add some pizzazz to the app</p></li>
                    <li><p>Adding routing to the Angular application and securing routes.</p></li>
                    <li><p>Using Automapper in ASP.NET Core</p></li>
                    <li><p>Building a great looking UI using Bootstrap</p></li>
                    <li><p>Adding Photo Upload functionality as well as a cool looking gallery in Angular</p></li>
                    <li><p>Angular Template forms and Reactive forms and validation</p></li>
                    <li><p>Paging, Sorting and Filtering</p></li>
                    <li><p>Adding a Private Messaging system to the app</p></li>
                    <li><p>Publishing the application to Heroku free of charge</p></li>
                    <li><p>Using SignalR for real time presence and live messaging between users</p></li>
                    <li><p>Many more things as well</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>
